<?xml version="1.0" encoding="UTF-8"?>

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<appender name="fileappender" class="org.apache.log4j.RollingFileAppender">
		<param name="maxBackupIndex" value="50" />
		<param name="maxFileSize" value="512MB" />
		<param name="File" value="/usr/local/logs/proc.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %t %-5p %c - %m%n" />
		</layout>
	</appender>

	<appender name="perfAppender" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="DatePattern" value="'.'yyyyMMdd" />
		<param name="File" value="/usr/local/neo4j-enterprise/logs/stats.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>

	<appender name="CoalescingStatistics"
		class="org.perf4j.log4j.AsyncCoalescingStatisticsAppender">
		<param name="name" value="pb.performance" />
		<param name="TimeSlice" value="60000" />
		<appender-ref ref="perfAppender" />
	</appender>

	<logger name="org.perf4j.TimingLogger" additivity="false">
		<level value="INFO" />
		<appender-ref ref="CoalescingStatistics" />
	</logger>

	<root>
		<priority value="DEBUG" />
		<appender-ref ref="fileappender" />
	</root>

</log4j:configuration>